.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  min-height: 100vh;
}


.code {
  font-weight: 700;
  font-family: var(--font-mono);
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}



@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
  
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

.navhead {
  width: 100%;
  height: 60px;
  background-color: blue;
  display: flex;
  position: fixed;
  z-index: 1000;
  align-items: center;
  
}

.link {
  padding: 10px;
  margin: 5px;
  color: white;
  border-radius: 10px;
}

.link :hover {
  text-decoration: underline;
}

.head {
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
  color: chartreuse;
}

.img {
  margin: 1rem;
}

.lists {
  margin: 1rem;
  text-decoration-line: underline;
  font-size: 1.8rem;
}

.description {
  width: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  margin: 2rem;
}

.titlecenter {
  width: 50%;
}

.youtube {
  margin: 2rem;
}

.typing {
  font-size: 2rem;
}

.input{
  display: block;
  height: 35px;
  width: 500px;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.form {
  height: fit-content;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.button{
  margin-top: 30px;
  width: 50%;
  background-color: #ffffff;
  color: #080710;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.textarea {
  width: 500px;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 10px 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 1rem;
  }

  .center {
    padding: 1rem;
    font-size: 25px;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    width: 80%;
  }

  .youtube {
    height: 250px;
    width: 390px;
  }

  .link {
    padding: 5px;
  }

  .lists {
    font-size: 1.5rem;
  }

  .typing {
    font-size: 1.5rem;
  }

  .input {
    width: 300px;
  }

  .textarea {
    width: 300px;
  }

  .titlecenter {
    width: 90%;
  }
  
}
